@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
 
}

.slick-prev {
    left: -60px;
}

.slick-prev:before, .slick-next:before {
    color: blue;
    font-size: 40px;
}


/* @media only screen and (max-width: 600px) {
    .slick-prev {
        left: -60px;
    }
} */